<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @relevance.description %>
</p>

<%= link_to 'Edit', edit_relevance_path(@relevance) %> |
<%= link_to 'Back', relevances_path %>
