<style>

ol.how-to{
	margin-top: 20px;

}
/*ol.how-to li{
	    border: solid 2px #555;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    text-align: center;
    display: block;
    
    margin-bottom: 30px;
    position: relative;
}

ol.how-to li span{
	
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 50%;
    transform: translateY(-50%);
}*/
</style>

<h1>What are you doing to make your goals turns real?</h1>
<p>With iWish App you can track what are you actually doing for conquest your goals</p>

<h2>How it work? </h2>
<ol class="how-to">
	<li><span>Choose a goal</span></li>
	<li><span>Add your daily progress about the goal</span></li>
	<li><span>Classify the progress activity</span></li>
	<li><span>Get your real goal status</span></li>
</ol>
