<h1>What are you doing to make your goals turns real?</h1>
<p>With iWish App you can track what are you actually doing for conquest your goals</p>

<h2>How it work? </h2>
<ol>
	<li>Choose a goal</li>
	<li>Add your daily progress about the goal</li>
	<li>Classify the progress activity</li>
	<li>Get your real goal status</li>
</ol>
